@import "tailwindcss";


.active {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}


.thin_scrollbar::-webkit-scrollbar-thumb {
    width: 3px;
    background-color: rgb(209, 209, 210);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

    /* background-color: red; */
}

.thin_scrollbar::-webkit-scrollbar {
    width: 3px;
    /* background-color: red; */
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

}

/*  */


.title{
    
}